* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

header {
  background-color: rgb(59, 59, 59);
  color: rgb(238, 238, 238);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h3 {
  color: rgb(168, 168, 168);
  text-decoration: underline;
}

#paragraph {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}


#skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 50%;
  /* padding-left: 20%;
  padding-right: 20%; */
 
}

#skills div {
  background-color: rgb(224, 224, 224);
  text-align: center;
  border-radius: 20px;
  box-shadow: 3px 3px gray;
  margin: 0 1% 3% 1%;
  height: 220px;
  padding: 15px 10px 0 10px;
}

h4 {
  margin-bottom: 10px;
}

/* hr {
  margin-top: 10px;
  width: 25%;
} */

footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  border-top: 2px solid gray;
  width: 15%;
  margin: auto;
  margin-top: 20px;
}
