html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: whitesmoke;
  background-color: rgb(119, 126, 126);
  font-size: 20px;
  font-family: sans-serif;
}

main {
  margin: 6%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(75, 77, 77);
}

header p {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}

header nav {
  /* border: 1px solid red; */
  width: 80%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

aside {
  margin-bottom: 50px;
}

.aside-one {
  margin-top: 50px;
}

aside h2 {
  margin-bottom: 10px;
}

.aside-two {
  text-align: end;
}

.main-content p {
  margin-bottom: 45px;
}

footer {
  padding: 6%;
  background-color: rgb(75, 77, 77);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header p {
    font-size: 35px;
  }

  .asides {
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }

  .aside-one {
    /* border: 1px solid red; */
    margin-top: 0;
  }

  .aside-two {
    /* border: 1px solid red; */
    max-width: 40%;
  }
}

