        h1 {
            font-size: 65px;
            color: orange;

            font-family: sans-serif;
        }

        ul {
            background-color: rgb(255, 400, 200);

            font-style: italic;
            line-height: 40px;
            text-align: center;
            text-decoration: underline;
        }

        .bg-color {
            background-color: rgb(200, 150, 200);
        }

        p {
            font-weight: 600;
            font-size: 3em;
        }

        body {
            font-size: 16px;
        }

        #yellow {
            color: yellow;
        }

        #red {
            color: red;
        }

        #brown {
            color: brown;
        }